section {
    margin: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');
p {
    font-family: 'Poppins', sans-serif;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif !important;
    color: #323648;
}

#blip h1 {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 3.5rem;
    line-height: 1.15;
    font-family: 'gil-sans';
    font-weight: 600;
}


/* 
=================================================
   Navigation
=================================================
*/

nav {
    top: 40px;
    position: relative;
    background-color: #fff;
    font-family: 'Poor Story', cursive;
    font-weight: 500;
    width: 50%;
    height: 90%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav ul {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 1.5%;
}

nav li {
    display: inline-block;
}

nav li a {
    top: 10;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none!important;
}

nav li a:hover {
    color: #fff;
}

main {
    display: block;
    background-color: blue;
}


/* 
=================================================
   Header
=================================================
*/

.intro {
    height: 400px;
}

.polymorph {
    fill: #29ABE2;
    height: 100px;
}

#blip p {
    font-size: 1.2em;
}

#blip h1 {
    font-size: 100px;
    text-transform: uppercase;
}

#blip {
    position: absolute;
    color: #29ABE2 !important;
    right: 50%;
    top: 30%;
    opacity: 0;
    width: 30%;
    transform: translateY(-800px);
}


/* 
=================================================
   About us
=================================================
*/

#about .about-img1 {
    position: relative;
    float: right;
    margin-right: 10px;
    width: 280px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
    box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
}

.about-2 {
    margin-top: 5%;
}

#about .about-img2 {
    margin: 0 auto;
    width: 80%;
    height: 280px;
    -webkit-box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
    box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
}


/* 
=================================================
   Services
=================================================
*/

#services {
    /* background: url(include/img/seo-training-600x267.png) top center no-repeat; */
}

.service-icon {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.middle {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.over-particle {
    position: absolute;
}

#services h1 {
    text-transform: uppercase;
}

#services .text-center {
    text-align: center;
}

.cool-link {}

#services .card {
    padding: 10px;
    color: #000;
    margin: 10px;
    border: 0px;
}

.vertical-center h6 {
    font-weight: 300;
    cursor: pointer;
    color: #323648;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
    /* Safari */
    transition: color 0.5s;
}

.vertical-center h6:hover {
    color: indianred;
    text-align: center;
    text-transform: uppercase;
}

.line-separator {
    width: 50%;
    height: 2px;
    background: yellow;
    border-bottom: 1px solid #ff8080;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}


/* 
=================================================
    portfolio
=================================================
*/

#portfolio h1 {
    text-align: center;
    text-transform: uppercase;
}

.section {
    padding: 30px 0;
    color: #333;
}

.section .top-side {
    text-align: center;
}

.section .top-side .title {
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
}

.section .top-side .title:after {
    content: "";
    display: block;
    width: 50%;
    border-bottom: 1px solid #494949;
    margin: 8px auto;
}

.section .top-side h2 {
    font-weight: 700;
}

.section.portfolio .filters {
    text-align: center;
}

.section.portfolio .filters ul {
    padding: 0;
}

.section.portfolio .filters ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
    position: relative;
}

.section.portfolio .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
}

.section.portfolio .filters ul li:hover:after {
    width: calc(100% - 60px);
    transition: width 350ms ease-out;
}

.section.portfolio .filters ul li.active:after {
    width: calc(100% - 60px);
}

.section.portfolio .filters-content {
    /* margin-top: 50px; */
}

.section.portfolio .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
}

.section.portfolio .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
}

.section.portfolio .filters-content .item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.section.portfolio .filters-content .item .p-inner {
    padding: 20px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.section.portfolio .filters-content .item .p-inner h5 {
    font-size: 15px;
}

.section.portfolio .filters-content .item .p-inner .cat {
    font-size: 13px;
}

.section.portfolio .filters-content .item img {
    width: 100%;
}


/* 
=================================================
    Price Chart
=================================================
*/

#price h1 {
    text-transform: uppercase;
    text-align: center;
}

.price-chart {
    margin: 0 auto;
}

#price .card em {
    font-size: 70px;
}

#price .card h3 {
    text-align: center;
}

#price .card h2 {
    text-align: center;
}

#price .card h5 {
    font-size: 20px;
    text-align: center;
}

#price .card p {
    text-align: center;
}

#price .card {
    padding: 16px;
    -webkit-box-shadow: 0 2px 14px 0 rgba(50, 54, 72, 0.16);
    box-shadow: 0 2px 14px 0 rgba(50, 54, 72, 0.16);
    border-radius: 8px;
    width: 250px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    color: #fff;
    font-weight: 300;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    margin: 0 0 0 20px;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#price .card:hover {}

#price h6 {
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
}

#price svg {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#price .st0 {
    fill: #000;
}

.buy {
    margin: 0 auto;
    border: #fff;
    border-radius: 30px;
    padding: 10px;
    width: 60%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .5s cubic-bezier(.25, .8, .25, 1);
}

.buy:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.20);
}

.buy a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
}


/* 
=================================================
    Contact us
=================================================
*/

.try-it {
    background-color: #f8f9fa;
    border-radius: 14px!important;
    padding: 20px;
}

.contact {
    width: 296px;
}

#contact img {
    width: 100%;
}

.form-control {
    display: inline;
}

form {
    width: 390px;
}

#contact input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

#contact input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

#contact input[type=submit]:hover {
    background-color: #45a049;
}


/* Add a background color and some padding around the form */

#contact .container {
    border-radius: 5px;
}

#contact .name {
    display: inline-block;
}

#contact .password {
    display: inline-block;
}

.validate-input {
    position: relative;
}

.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

input {
    outline: none;
    border: none;
}

.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}

textarea {
    outline: none;
    border: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.contact1-pic {
    width: 296px;
    float: right;
}

.contact1-pic img {
    max-width: 100%;
}

.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3);
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 0px;
}

.contact1-form-btn i {
    margin-left: 7px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn:hover {
    /* border-color: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
    background-color: #f8f9fa;
}

.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
    .contact1-pic {
        width: 33.5%;
    }
    .contact1-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .container-contact1 {
        padding: 90px 80px 88px 90px;
    }
    .contact1-pic {
        width: 35%;
    }
    .contact1-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .container-contact1 {
        padding: 90px 80px 88px 80px;
    }
    .contact1-pic {
        display: none;
    }
    .contact1-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-contact1 {
        padding: 90px 15px 88px 15px;
    }
}