section {
    margin: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');
p {
    font-family: 'Poppins', sans-serif;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif !important;
    color: #323648;
}

#blip h1 {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 6vw !important;
    line-height: 1.15;
    font-family: 'gil-sans';
    font-weight: 600;
}


/* 
=================================================
   Navigation
=================================================
*/


/*PEN STYLES*/

.mainNav {
    margin-bottom: 10px;
    background: #efefef;
    color: #1a1b18;
    max-height: 70px;
    position: relative;
    z-index: +2;
}

.mainNav a {
    text-decoration: none;
}

.mainNav .logo {
    display: inline-block;
    color: #fff;
    font-size: 1.7em;
    height: 40px;
    line-height: 1.55em;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding: 0 10px;
    z-index: 0;
    /*POSITION*/
    position: relative;
}

.mainNav .logo:hover:before {
    background: #292938;
}

.mainNav .logo:before {
    content: "";
    background: #3C91E6;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainNav .logo a {
    color: #efefef;
}

.mainNav .menu {
    background: #efefef;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #d9d9d9;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /*POSITION*/
    position: relative;
    top: 60px;
    right: 0;
    left: 0;
}

.mainNav .menu a {
    color: #292938;
    border-bottom: 1px solid #d9d9d9;
    font-weight: bold;
    display: block;
    padding: 15px;
}

.mainNav .menu a:hover {
    background: #292938;
    color: #efefef;
}

.mainNav .navBars {
    display: inline-block;
    font-size: 1.7em;
    line-height: 1.5em;
    float: right;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

#xBxHack {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -99999px;
}

#xBxHack:checked~nav .menu {
    display: block;
}

@media screen and (min-width: 600px) {
    .mainNav {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .mainNav .navBars {
        display: none;
    }
    .mainNav .logo {
        margin: 10px 0;
    }
    .mainNav .menu {
        display: block;
        box-shadow: none;
        border: none;
        float: right;
        /*POSITION*/
        position: static;
    }
    .mainNav .menu li {
        display: inline-block;
    }
    .mainNav .menu a {
        border: none;
        padding: 20px 10px;
    }
}


/* 
=================================================
   Header
=================================================
*/

#particles-js {
    background-color: #29ABE2;
    align-items: center;
    padding: 50px;
}

#app {
    padding-top: 30px;
    font-size: 50px;
    position: absolute;
}

.intro {
    height: 400px;
}

.polymorph {
    fill: #29ABE2;
    height: 100px;
}

#blip p {
    font-size: 1.5vw;
}

#blip h1 {
    font-size: 100px;
    text-transform: uppercase;
}

#blip {
    position: absolute;
    color: #29ABE2 !important;
    right: 50%;
    top: 30%;
    opacity: 0;
    width: 30%;
    transform: translateY(-800px);
}


/* 
=================================================
   About us
=================================================
*/

#about .about-img1 {
    position: relative;
    float: right;
    margin-right: 10px;
    width: 280px;
    height: 200px;
    margin: 5px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
    box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
}

.about-2 {
    margin-top: 5%;
}

#about .about-img2 {
    margin: 0 auto;
    width: 80%;
    height: 280px;
    -webkit-box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
    box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.18);
}

#about h1 {
    font-size: 70px;
}


/* 
=================================================
   Services
=================================================
*/

#services {
    /* background: url(include/img/seo-training-600x267.png) top center no-repeat; */
}

.service-icon {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.middle {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.over-particle {
    position: absolute;
}

#services h1 {
    text-transform: uppercase;
}

#services .text-center {
    text-align: center;
}

.cool-link {}

#services .card {
    padding: 10px;
    color: #000;
    margin: 10px;
    border: 0px;
}

.vertical-center h6 {
    font-weight: 300;
    cursor: pointer;
    color: #323648;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
    /* Safari */
    transition: color 0.5s;
}

.vertical-center h6:hover {
    color: indianred;
    text-align: center;
    text-transform: uppercase;
}

.line-separator {
    width: 50%;
    height: 2px;
    background: yellow;
    border-bottom: 1px solid #ff8080;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}


/* 
=================================================
    portfolio
=================================================
*/

#portfolio h1 {
    text-align: center;
    text-transform: uppercase;
}

.section {
    padding: 30px 0;
    color: #333;
}

.section .top-side {
    text-align: center;
}

.section .top-side .title {
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
}

.section .top-side .title:after {
    content: "";
    display: block;
    width: 50%;
    border-bottom: 1px solid #494949;
    margin: 8px auto;
}

.section .top-side h2 {
    font-weight: 700;
}

.section.portfolio .filters {
    text-align: center;
}

.section.portfolio .filters ul {
    padding: 0;
}

.section.portfolio .filters ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
    position: relative;
}

.section.portfolio .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
}

.section.portfolio .filters ul li:hover:after {
    width: calc(100% - 60px);
    transition: width 350ms ease-out;
}

.section.portfolio .filters ul li.active:after {
    width: calc(100% - 60px);
}

.section.portfolio .filters-content {
    /* margin-top: 50px; */
}

.section.portfolio .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
}

.section.portfolio .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
}

.section.portfolio .filters-content .item {
    text-align: center;
    cursor: pointer;
}

.work img {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 30px;
    position: relative;
    -webkit-box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.72);
    box-shadow: 0 4px 17px 0 rgba(50, 54, 72, 0.72);
    transition: transform 1.5s;
}

.work img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}


/* 
=================================================
    Price Chart
=================================================
*/

#price h1 {
    text-transform: uppercase;
    text-align: center;
}

.price-chart {
    margin: 0 auto;
}

#price .card em {
    font-size: 70px;
}

#price .card h3 {
    text-align: center;
}

#price .card h2 {
    text-align: center;
}

#price .card h5 {
    font-size: 20px;
    text-align: center;
}

#price .card p {
    text-align: center;
}

#price .card {
    padding: 16px;
    -webkit-box-shadow: 0 2px 14px 0 rgba(50, 54, 72, 0.16);
    box-shadow: 0 2px 14px 0 rgba(50, 54, 72, 0.16);
    border-radius: 8px;
    width: 250px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    color: #fff;
    font-weight: 300;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    margin: 0 0 0 20px;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#price .card:hover {}

#price h6 {
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
}

#price svg {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#price .st0 {
    fill: #000;
}

.buy {
    margin: 0 auto;
    border: #fff;
    border-radius: 30px;
    padding: 10px;
    width: 60%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .5s cubic-bezier(.25, .8, .25, 1);
}

.buy:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.20);
}

.buy a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
}


/* 
=================================================
    Contact us
=================================================
*/

.try-it {
    background-color: #f8f9fa;
    border-radius: 14px !important;
    padding: 20px;
}

.contact {
    width: 296px;
}

#contact img {
    width: 100%;
}

.form-control {
    display: inline;
}

form {
    /* width: 390px; */
}

#contact input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

#contact input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

#contact input[type=submit]:hover {
    background-color: #45a049;
}


/* Add a background color and some padding around the form */

#contact .name {
    display: inline-block;
}

#contact .password {
    display: inline-block;
}

.validate-input {
    position: relative;
}

.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

input {
    outline: none;
    border: none;
}

.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}

textarea {
    outline: none;
    border: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.contact1-pic {
    width: 296px;
    margin: 0 auto;
}

.contact1-pic img {
    margin-top: 30px;
}

.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3);
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 0px;
}

.contact1-form-btn i {
    margin-left: 7px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn:hover {
    /* border-color: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
    background-color: #f8f9fa;
}

.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}


/* 
=================================================
    footer
=================================================
*/

footer {
    padding: 20px;
    background-color: #d6d1d13d;
}

footer img {
    width: 60%;
}

footer p {
    font-weight: 800;
    color: #808080ad;
}

footer a {
    color: #6b6969;
}

footer a:hover {
    text-decoration: none;
    color: #6b6969;
}

footer i {
    padding-right: 15px;
    font-size: 25px;
    color: #808080ad;
}

.underline {
    border-bottom: 1px solid #808080ad;
    display: inline-block;
    line-height: 1.5;
}

.underline:hover {
    border-bottom: 1px solid #000;
    display: inline-block;
    line-height: 1.5;
}


/*------------------------------------------------------------------
[ Responsive ]*/


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1024px) {
    #blip {
        top: 20%;
    }
    #particles-js {
        display: none;
    }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) {
    body {}
    #about .about-img1 {
        width: 200px;
    }
    #blip {
        top: 30% !important;
    }
    #particles-js {
        display: none;
    }
}


/* 
    ##Screen = 960px
  */

@media (min-width:960px) and (max-width:960px) {
    body {
        /* background-color: #ff8080 */
    }
    #price .card {
        width: 210px;
    }
    #blip {
        top: 25%;
    }
    #particles-js {
        display: none;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (max-width: 768px) {
    header svg {
        display: none;
    }
    #blip {
        display: none
    }
    #about .about-img1 {
        float: none;
        width: 100%;
        height: 200px;
    }
    #about .about-img2 {
        margin-bottom: 10px;
        float: none;
        width: 100%;
    }
    #price .card {
        width: 200px
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (max-width: 767px) {
    body {
        /* background-color: #23A6D5; */
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (max-width: 425px) {
    .middle {
        display: none;
    }
    #price .card {
        width: 100%;
        margin-top: 10px;
    }
    #contact img {
        display: none;
    }
    .work img {
        width: 100%;
        margin-bottom: 15px;
    }
}